@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 0px;
}

.Logo {
  margin-top: -5px;
  height: 100px;
  width: 110px;
}

.list {
  list-style: none;
  display: inline-flex;
  gap: 50px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: normal;
  position: relative;
  top: 25px;

  /* left: 300px; */
}

.item a {
  text-decoration: none;
}

.item a:hover {
  cursor: pointer;
  color: aqua;
  text-decoration: underline;
}

.profile {
  position: relative;
  border-radius: 50px;
  margin-top: 7px;
  right: 30px;
  height: 65px;
  width: 65px;
}
